/* Footer */

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background-color: #000;
  transition: all 0.3s;
  margin-bottom: -20px;
}

.footer-basic {
  padding: 40px 0;
  color: #fff !important;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  text-decoration: none;
  opacity: 0.7;
  color: #fff !important;
  transition: all 0.4s;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff !important;
  margin: 0 8px;
  color: inherit;
  opacity: 0.7;
}

.footer-basic .social > a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #aaa !important;
  margin-bottom: 0;
  font-family: "Cairo", sans-serif;
}

.contactWithEmail {
  font-size: 18px;
  color: #fff !important;
  margin-bottom: 0;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 0) and (max-width: 450px) {
  .contactWithEmail {
    font-size: 13px;
    color: #fff !important;
    margin-bottom: 0;
    font-family: "Cairo", sans-serif;
    text-align: center;  
    font-weight: 600;
  }
}

.list-inline {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Changa", sans-serif;
  opacity: 0.7;
  color: #fff !important;
}

.sIcons_parent {
  font-size: 25px;
  margin-top: 13px;
  margin-bottom: -15px;
  text-align: center;
}

.sIcons_parent .sIcons {
  transition: all 0.4s;
  margin: 0 15px;
  padding: 0;
}

.sIcons_parent .sIcons:hover {
  opacity: 0.7;
  transition: all 0.4s;
}

.sIcons_parent a{
  text-decoration-line: none !important;
}
